<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <html lang="eng">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    {% load pwa %}
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="shortcut icon" type="image/icon" href="{% static '/icons/eternity.png' %}"/>
    <title>Widship - Meet Other Widows</title>
    <base href="/">
    <meta name="keywords" content="social networking, widows, friendship, women, messaging, connection, search near me">  
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Widship">
    <meta name="apple-mobile-web-app-title" content="Widship">
    <meta name="msapplication-starturl" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--Load external style sheets-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" type="text/css" href="{% static 'widship/css/main.css' %}">

    {% progressive_web_app_meta %}

</head>

<body>

  {% include "navbar.html" %}

{% block sidenav %}
{% endblock %}

<div id="page-container">
  <div id="page" class="container">

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block content %}
    {% endblock %}

  </div>
</div>

  {% include "footer.html" %}
    
</body>