{% extends 'base.html' %}

{% block content %}

<h1>Cookies & Other Storage Technologies</h1>
<p>
Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones, and other devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. In this policy, we refer to all of these technologies as “cookies.”
</p>
<p>
We use cookies if you have a Widship account, use the Widship Products, including our website and apps, or visit other websites and apps that use the Widship Products (including the Like button or other Widship Technologies). Cookies enable Widship to offer the Widship Products to you and to understand the information we receive about you, including information about your use of other websites and apps, whether or not you are registered or logged in.
</p>
<p>
This policy explains how we use cookies and the choices you have. Except as otherwise stated in this policy, the Data Policy will apply to our processing of the data we collect via cookies.
</p>
<p>
<h2>Why do we use cookies?</h2>
<p>
Cookies help us provide, protect and improve the Widship Products, such as by personalizing content, tailoring and measuring ads, and providing a safer experience. While the cookies that we use may change from time to time as we improve and update the Widship Products, we use them for the following purposes:
</p>

<h3>Authentication</h3>
<p>
We use cookies to verify your account and determine when you’re logged in so we can make it easier for you to access the Widship Products and show you the appropriate experience and features.
For example: We use cookies to keep you logged in as you navigate between Widship pages. Cookies also help us remember your browser so you do not have to keep logging into Widship and so you can more easily log into Widship via third-party apps and websites.
</p>
<h3>Security, site and product integrity</h3>
<p>
We use cookies to help us keep your account, data and the Widship Products safe and secure.
For example: Cookies can help us identify and impose additional security measures when someone may be attempting to access a Widship account without authorization, for instance, by rapidly guessing different passwords. We also use cookies to store information that allows us to recover your account in the event you’ve forgotten your password or to require additional authentication if you tell us your account has been hacked.
</p>
<p>
We also use cookies to combat activity that violates our policies or otherwise degrades our ability to provide the Widship Products.
For example: Cookies help us fight spam and phishing attacks by enabling us to identify computers that are used to create large numbers of fake Widship accounts. We also use cookies to detect computers infected with malware and to take steps to prevent them from causing further harm. Cookies also help us prevent underage people from registering for Widship accounts.
Advertising, recommendations, insights and measurement
</p>
<p>
We use cookies to help us show ads and to make recommendations for businesses and other organizations to people who may be interested in the products, services or causes they promote.
For example: Cookies allow us to help deliver ads to people who have previously visited a business’s website, purchased its products or used its apps and to recommend products and services based on that activity. Cookies also allow us to limit the number of times that you see an ad so you don’t see the same ad over and over again.
</p>
<p>
We also use cookies to help measure the performance of ad campaigns for businesses that use the Widship Products.
For example: We use cookies to count the number of times an ad is shown and to calculate the cost of those ads. We also use cookies to measure how often people do things like click on or view ads.
</p>
<p>
Cookies help us serve and measure ads across different browsers and devices used by the same person.
For example: We can use cookies to prevent you from seeing the same ad over and over again across the different devices that you use.
</p>
<p>
Cookies also allow us to provide insights about the people who use the Widship Products, as well as, the people who interact with the ads, websites, and apps of our advertisers and the businesses that use the Widship Products.
For example: We use cookies to help businesses understand the kinds of people who like their Widship page or use their apps so they can provide more relevant content and develop features that are likely to be interesting to their customers.
</p>
<p>
We also use cookies to help you opt out of seeing ads from Widship based on your activity on third-party websites. Learn more about the information we receive, how we decide which ads to show you on and off the Widship Products, and the controls available to you.
</p>

<h2>Site features and services</h2>
<p>
We use cookies to enable the functionality that helps us provide the Widship Products.
For example: Cookies help us store preferences, know when you’ve seen or interacted with Widship Products’ content, and provide you with customized content and experiences. For instance, cookies allow us to make suggestions to you and others, and to customize content on third-party sites that integrate our social plugins. If you are a page administrator, cookies allow you to switch between posting from your personal FB account and the page.
</p>
<p>
We also use cookies to help provide you with content relevant to your locale.
For example: We store information in a cookie that is placed on your browser or device so you will see the site in your preferred language.
</p>

<h2>Performance</h2>
<p>
We use cookies to provide you with the best experience possible.
For example: Cookies help us route traffic between servers and understand how quickly Widship Products load for different people. Cookies also help us record the ratio and dimensions of your screen and windows and know whether you’ve enabled high contrast mode, so that we can render our sites and apps correctly.
</p>

<h2>Analytics and research</h2>
<p>
We use cookies to better understand how people use the Widship Products so that we can improve them.
For example: Cookies can help us understand how people use the Widship Service, analyze which parts of the Widship Products people find most useful and engaging, and identify features that could be improved.
</p>

<h2>Where do we use cookies?</h2>
We may place cookies on your computer or device, and receive information stored in cookies, when you use or visit:
<ul>
    <li>The Widship Products;</li>
    <li>Products provided by other members of the Widship Companies; and</li>
    <li>Websites and apps provided by other companies that use the Widship Products, including companies that incorporate the Widship Technologies into their websites and apps. Widship uses cookies and receives information when you visit those sites and apps, including device information and information about your activity, without any further action from you. This occurs whether or not you have a Widship account or are logged in.</li>
</ul>

<h2>Do other parties use cookies in connection with the Widship Products?</h2>
<p>
Yes, other parties may use cookies on the Widship Products to provide services to us and the businesses that advertise on Widship.
</p>
<p>
For example, our measurement partners use cookies on the Widship Products to help advertisers understand the effectiveness of their Widship advertising campaigns and to compare the performance of those campaigns to ads displayed on other websites and apps. Learn more about the companies that use cookies on the Widship Products.
</p>
<p>
Third parties also use cookies on their own sites and apps in connection with the Widship Products. To understand how other parties use cookies, please review their policies.
</p>

<h2>How can you control Widship’s use of cookies to show you ads?</h2>
<p>
One of the ways we use cookies is to show you useful and relevant ads on and off Widship. You can control how we use data to show you ads by using the tools described below.
</p>
<h3>If you have a Widship Account:</h3>
<p>
You can use your ad preferences to learn why you’re seeing a particular ad and control how we use information we collect to show you ads.
</p>
<p>
To show you better ads, we use data that advertisers and other partners provide us about your activity off Widship company Products, including websites and apps. You can control whether we use this data to show you ads in your ad settings.
The Widship Audience Network is a way for advertisers to show you ads in apps and websites off the Widship Company Products. One of the ways Audience Network shows relevant ads is by using your ad preferences to determine which ads you may be interested in seeing. You can control this in your ad settings.
</p>

<h3>Everyone:</h3>
<p>
You can opt out of seeing online interest-based ads from Widship and other participating companies through the Digital Advertising Alliance in the US, the Digital Advertising Alliance of Canada in Canada, or the European Interactive Digital Advertising Alliance in Europe or through your mobile device settings. Please note ad blockers and tools that restrict our cookie use may interfere with these controls.
</p>

<h2>More information about online advertising:</h2>
The advertising companies we work with generally use cookies and similar technologies as part of their services. To learn more about how advertisers generally use cookies and the choices they offer, you can review the following resources:
<ul>
    <li>Digital Advertising Alliance</li>
    <li>Digital Advertising Alliance of Canada</li>
    <li>European Interactive Digital Advertising Alliance</li>
</ul>

<h2>Browser cookie controls:</h2>
<p>
In addition, your browser or device may offer settings that allow you to choose whether browser cookies are set and to delete them. For more information about these controls, visit your browser or device's help material. Certain parts of the Widship Products may not work properly if you have disabled browser cookie use.
</p>
<p>
Date of Last Revision: September 5, 2020.
</p>

{% endblock %}