
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'widship/css/profile_list.css' %}">

<script>
function updateTextInput(val) {
  document.getElementById('textInput').textContent=val; 
}
</script>

<h3>My Friend Requests</h3>

<br/>

<div class="container">

{% for user_result in friend_request_list %}

  {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
    <div class="col-lg-4 d-flex">{% include "profile_card_search.html" %}</div>
  {% if forloop.counter|divisibleby:3 or forloop.last %}</div>{% endif %}

{% empty %}

  <p>No friend requests.  <a href="/user/search">Add friends</a></p>

{% endfor %}

</div>

