{% extends 'base.html' %}

{% block content %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'widship/css/profile_list.css' %}">

<h1>My Friends</h1>

{% if friend_list.length > 3 %}
  <p>You have {{ friend_list | length }} friends</p>
{% endif %}

<div class="container">
{% for friend in friend_list %}
  {% if forloop.counter0|divisibleby:3 %}<div class="row">{% endif %}
    <div class="col-md-4 d-flex">{% include "profile_card.html" %}</div>
  {% if forloop.counter|divisibleby:3 %}</div>{% endif %}

{% empty %}

<p>
  You haven't added any friends.
  <a href="/user/search">Add friends</a>
</p>

{% endfor %}

</div>

{% endblock %}