{% load bootstrap4 %}
{% load static %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"><img src="{% static 'icons/eternity_32_32.png' %}"/> Widship</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user/search"><i class="fas fa-user-plus"></i> Find Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/friends"><i class="fas fa-user-friends"></i> My Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'messaging:inbox' %}"><i class="fas fa-comment"></i> Messaging</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-newspaper"></i> Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/groups"><i class="fas fa-users"></i> Groups</a>
          </li>
    
          </ul>

          <form method="GET" action="{% url 'user:search' %}" class="form-inline my-2 my-lg-0">
            <input name="name" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
            <input type="submit" style="display: none" />
          </form>
    
          {% if user.is_authenticated %}
            <a href="{% url 'user:profile' user.username %}"><button class="btn btn-primary"><i class="fas fa-address-card"> </i> My Profile</button></a>
            <a class="nav-link" href="/settings"><i class="fas fa-cog"></i></a>
          {% else %}
            <a href="/login"><button class="btn btn-primary">Login / Sign Up</button></a>
          {% endif %}
      
        </div>
      </nav>
    </div>