{% load bootstrap4 %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'widship/css/profile_list.css' %}">


<div class="card flex-fill">
  
  <img class="card-img-top profile-img" src=
      {% if group.profile_photo %}
        {{ group.profile_photo.url }} alt="Profile image">
      {% endif %}  

  <div class="card-body">
    <h4 class="card-title">{{ group.profile_name }}</h4>
    <p class="card-text">

      <br/> 
          
      {% if group.bio %}
        {{ group.bio }} 
      {% endif %}

    </p>
  </div>
  <div class="card-body">

    <a href="{% url 'groups' group.id %}" class="btn btn-primary">View Group</a>
    <a href="{% url 'group:join' group.id %}" class="btn btn-primary">Join</a>

  </div>
</div>