{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load mathfilters %}

<link rel="stylesheet" type="text/css" href="{% static '/widship/css/profile.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


<div class="card col-lg-8">
    <div class="card-header">

<div class="profile">
    <p>
        {% if requested_profile_user.profile.profile_photo %}
            <img class="profile-photo" src="{{ requested_profile_user.profile.profile_photo.url }}"
        {% else %}
            <img class="profile-photo" src="{% static 'icons/default_avatar.png' %}" 
        {% endif %}
        alt="Profile Photo">
    </p>
    <h1 id="name" class="card-title">{% firstof requested_profile_user.profile.profile_name requested_profile_user.get_full_name %}</h1>

        {% if self_flag == True %}
            <a href='/user/profile_form'><button class="btn btn-primary"><i class="fas fa-edit"></i> Edit Profile</button></a></h1>
        {% elif friend_flag == True %}
            <a href="{% url 'friends:unfriend' requested_profile_user.username %}"><button class="btn btn-secondary"><i class="fas fa-users-slash"></i> Unfriend</button></a>
            <a href="{% url 'messaging:write' requested_profile_user.username %}"><button class="btn btn-primary"><i class="fas fa-comment"></i> Message</button></a>
        {% elif friend_request_flag == True %}
            <button class="btn btn-secondary"><i class="fas fa-user-plus"></i> Friend Request Sent</button>
        {% else %}
            <a href="{% url 'friends:add' requested_profile_user.username %}"><button class="btn btn-primary"><i class="fas fa-user-plus"></i> Add Friend</button></a>
        {% endif %}
        <br/>
        {% if requested_profile_user.profile.birth_date %}
            Age {{requested_profile_user.profile.age}}<br/>
        {% endif %}
        {% if requested_profile_user.profile.gender %}
            {{ requested_profile_user.profile.gender }} <br/>
        {% endif %}
        {% if requested_profile_user.profile.city %}
            From {{ requested_profile_user.profile.city }}
            {% if requested_profile_user.profile.state %}, {{requested_profile_user.profile.state}}{% endif %}
            {% if requested_profile_user.profile.country %} {{requested_profile_user.profile.country}}{% endif %}
        {% endif %}
</div>
</div>
    <div class="card-body">
        <div class="card-text">
    <h3>About Me</h3>
    <p>
        {{ requested_profile_user.profile.bio }}
    </p>

</div>
</div>

{% endblock %}