{% load bootstrap4 %}
{% load static %}

    <div class="card">
        <img class="card-img-top profile-img" src=
          {% if user_result.profile_photo %}
            {{ user_result.profile_photo.url }}
          {% else %}
            "{% static 'icons/default_avatar.png' %}" 
          {% endif %}
          alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ user_result.profile_name }}</h4>
          <p class="card-text">
            {% if user_result.birth_date %}
            Age {{user_result.age}}<br/>
            {% endif %}
            {% if user_result.gender %}
                {{ user_result.gender }} <br/>
            {% endif %}
            {% if user_result.city %}
                From {{ user_result.city }}
                {% if user_result.state %}, {{user_result.state}}{% endif %}
                {% if user_result.country %} {{user_result.country}}{% endif %}
                <br/>
            {% endif %}
            {% if user_result.bio %}
                {{ user_result.bio }} 
            {% endif %}
          </p>
          <a href="{{ user_result.username }}" class="btn btn-primary">See Profile</a>
          <a href="{% url 'friends:add' user_result.user.username %}" class="btn btn-primary">Add Friend</a>
          </div>
        </div>
    